
###> symfony/framework-bundle ###
/.env
/.env.dev
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.phpunit.result.cache
###< symfony/framework-bundle ###

# Local tooling / OS noise
/.idea/
/.vscode/
.DS_Store
Thumbs.db

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
